## Configuracion de Spring
spring:
  application:
    name: miembros
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/itataki_manager_db} #Actualizar con el valor de tu despliegue local de MySQL.
    driver-class-name: ${DB_DRIVER:com.mysql.cj.jdbc.Driver}
    username: ${DB_USER:root} #Actualizar con el valor de tu usuario.
    password: ${DB_PASSWORD:rootmaster} #Actualizar con el valor de tu contraseña de root.
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

## Configuracion de Instancia
server:
  port: 8088

## Configuracion del cliente de Eureka
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
    hostname: miembros

